{% extends 'writer/_main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-white shadow mt-5 p-5 form-layout">
        <h3>{% translate 'Change Password' %}</h3>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-between align-items-center">
                <input type="submit" class="btn btn-success" value="{% translate 'Change Password' %}">
                <a href="{% url 'writer-dashboard' %}" class="btn btn-secondary">{% translate 'Cancel' %}</a>
            </div>
        </form>
    </div>
{% endblock %}