{% extends 'common/_base.html' %}
{% load i18n %}

{% block tab_title %} The Contrarian Report - Home {% endblock %}

{% block navbar_item_margin %} ms-auto {% endblock %}

{% block navbar_option_1 %}
    {% with option_url='register' option_label='Register' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_2 %}
    {% with option_url='login' option_label='Login' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_3 %}
{% endblock %}

{% block navbar_option_4 %}
{% endblock %}

{% block navbar_option_5 %}
{% endblock %}

{% block navbar_option_6 %}
{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h5>
            Obtenha acesso a perspectivas únicas e rentáveis sobre os 
            mercados de capitais!
        </h5>
        <br>
        <p> Aceda à nossa colecção exclusiva e selecionada de relatórios e artigos. </p>
        <br>
        <a class="btn btn-success" type="button" href="{% url 'register' %}">
            <i class="fa fa-angle-right" aria-hidden="true"></i> 
            {% translate 'Get Started' %}
        </a>
    </div>
{% endblock %}
